# Chapter 19 - Creating a Single Observation from Multiple Records

## Table of Contents:

1. [Objectives](#Objectives)
2. [Using Line Pointer Controls](#Using-Line-Pointer-Controls)

### Objectives

* read multiple records sequentially and create a single observation
* read multiple records non-sequentially and create a single observation

[(back to top)](#Table-of-Contents:)

### Using Line Pointer Controls

A line location relative to the current line can be indicated by the forward slash option (`/`):

    input variable1 /
          variable2 variable3 ...;
          
This forward slash (`/`) pointer control is used to read multiple records sequentially.          
          
An absolute line location can be indicated by the #N operator:

    input #2 var1
          #1 var2
          #3 var3;
          
The forward slash option can be used to sequentially read multiple records into a single observation. For example:

    input Lname $ 1-8 Fname $ 10-15 /  
          Department $ 1-12 JobCode $ 15-19 /   
          Salary comma10.; 

The raw data file must contain the same number of records for each observation. If observations contain different numbers of records, information will be read incorrectly.

The #N operator can be used to read multiple records non-sequentially in any order specified by `#N`. For example:

    input #2 Department $ 1-12 JobCode $ 15-19  
          #1 Lname $ Fname $  
          #3 Salary comma10.; 

It must be specified before the instructions for reading values in a specific record.

These pointer controls can easily be combined into a single `INPUT` statement, like in the example below:

    input #4 ID $5.  
          #1 Fname $ Lname $ /   
             Address $23. /  
             City $ State $ Zip $ /  
             @7 Doctor $6.;

[(back to top)](#Table-of-Contents:)